
       <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripcion</th>
      <th scope="col">x</th>
    </tr>
  </thead>
  
  <tbody id="tabla">


  </tbody>


</table>


